template(name="frontpage")
  +border
  +hero(
    header="Webonaut"
    content="My self-appointed title covering the curiosity for all that is web."
  )
  +imageSection(
    header="Freelance Meteor developer"
    content="I'm Rasmus Hjulskov and i'm an ambitious fullstack delevoper based in Aarhus, Denmark focusing on web apps development in Meteor.js. I've had years of experience in multiple agencies as a frontend developer. I'm always curious while adopting new technologies, as the web is not just a job but a passion. This site and other projects are open source on Github. Feel free to use what you want, star, fork and follow me!"
    image_src="/webonaut_profile_blue.png"
    image_alt="profile picture"
    btn_href="https://github.com/Rhjulskov/"
    btn_text="My Github page"
  )
  +ribbon(
    header="Meteor Aarhus Meetup"
    content="I'm the organizer of the Meteor meetup group in Aarhus, Denmark. If you're interested in Meteor, feel free to join our next meetup the 13th of August. We're starting with a Meteor 101 speak targeted beginners. "
    btn_href="http://www.meetup.com/Meteor-Arhus/"
    btn_text="Join our next meetup"
  )
  +grid(
    header="Let's be social"
    subheader="Realtime feed from Twitter, Instagram & Codepen. Follow #webonaut."
  )
  +ribbon(
    class="ribbon--secondary"
    header="Are you interested?"
    content="Do you have a project, need a hand or just want to talk tech."
    btn_href="mailto:rasmus@webonaut.dk"
    btn_text="Contact me"
    btn_color="sec"
  )
