template(name="frontpage")
  +border
  +hero(
    header="Webonaut"
    content="My self-appointed title covering the curiosity for all that is web."
  )
  +imageSection(
    header="Freelance Meteor developer"
    content="I'm Rasmus Hjulskov and i'm an ambitious fullstack delevoper based in Aarhus, Denmark focusing on web apps development in Meteor.js. I've had years of experience in multiple agencies as a frontend developer. I'm always curious while adopting new technologies, as the web is not just a job but a passion. This site and other projects are open source on Github. Feel free to use what you want, star, fork and follow me!"
    image_src="/webonaut_profile_blue.png"
    image_alt="profile picture"
    btn_href="https://github.com/Rhjulskov/"
    btn_text="My Github page"
  )
  +ribbon(
    header="Nordlys – Meteor Studio in Aarhus"
    content="I'm the co-founder of a Meteor Studio in Aarhus, Denmark. We're called Nordlys, and can deliver on design, development and scaling a Meteor App. "
    btn_href="http://www.nordlys.io/"
    btn_text="Go to Nordlys"
  )
  +imageSection(
    header="Hubble"
    content="A living styleguide for Meteor. Create and maintain your styleguide in a simple package."
    image_src="/hubble_logo.svg"
    image_alt="profile picture"
    image_position="left"
    sec_color="true"
    btn_href="/hubble"
    btn_text="This sites styleguide"
    btn_color="sec"
  )
  +grid(
    header="Let's be social"
    subheader="Realtime feed from Twitter & Instagram aswell as work in progress from Codepen. Follow #webonaut."
  )
  +ribbon(
    class="ribbon--secondary"
    header="Are you interested?"
    content="Do you have a project, need a hand or just want to talk tech."
    btn_href="mailto:rh@nordlys.io"
    btn_text="Contact me"
    btn_color="sec"
  )
