template(name="instagram")
  .image-element
    .img-wrapper
      a(href=link_href)
        if video
          video(muted, volume="0" autoplay loop)
            source(src=video, type='video/mp4')
        else
          img(src=image)

    h3
      a(href=link_href) #{text}
      i.time-stamp {{fromNow published_date}}
